body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 30px;
}

h1 {
  margin-bottom: 10px;
}

.menu {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu a {
  background: #22c55e;
  color: black;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  background: #16a34a;
}
